.benefit{
    height:400px;
    width:300px;
}
.benefit p{
    display: none;
    background-color: rgba(0,0,0,0.4);
    font-size: 40px;
    color:#f7f7f7;
    height: 30%;
}
.benefit:hover p{
    display: block;
}
@media screen and (max-width:600px) {
    .benefit{
        width:100%;
    }
}