
  .add--button {
    font-size: 13px;
    padding: 12px 24px;
    box-shadow:3px 3px 3px #00000055;
    border:none;
    border-radius: 4px;
  }
  .add--button:hover{
    transform: scale(1.05);
    transition: .2s ease-in-out;
    box-shadow: none;
    background-color: aliceblue;
    cursor: pointer;
  }