@charset "UTF-8";
.login-container {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4;
}
.login-container .backLeft{
background-image: url("https://static.toiimg.com/thumb/msid-82145005,imgsize-1008381,width-900,height-1200,resizemode-6/82145005.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

.login-container .canvas-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-container .topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.login-container label {
  font-size: 0.8em;
  text-transform: uppercase;
}

.login-container input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
}

.login-container .left {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #2c3034;
  left: 0;
  position: absolute;
}
.login-container .left label {
  color: #e3e3e3;
}
.login-container .left input {
  border-bottom: 1px solid #e3e3e3;
  color: #e3e3e3;
}
.login-container .left input:focus, .login-container .left input:active {
  border-color: #03a9f4;
  color: #03a9f4;
}
.left input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3034 inset;
  -webkit-text-fill-color: #e3e3e3;
}
.left a {
  color: #03a9f4;
}

.right {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #f9f9f9;
  right: 0;
  position: absolute;
}
.right label {
  color: #212121;
}
.right input {
  border-bottom: 1px solid #212121;
}
.right input:focus, .right input:active {
  border-color: #3a5bb7;
}
.right input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
  -webkit-text-fill-color: #212121;
}

.login-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.login-container .content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
}

.left .content h2 {
  color: #03a9f4;
}

.right .content h2 {
  color: #3a5bb7;
}

.login-container .form-element {
  margin: 1.6em 0;
}
.login-container .form-element.form-submit {
  margin: 1.6em 0 0;
}

.login-container .form-stack {
  display: flex;
  flex-direction: column;
}

.login-container .checkbox {
  outline: none;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox:focus,
.checkbox:checked:focus,
.checkbox:active,
.checkbox:checked:active {
  border-color: #03a9f4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked:after {
  outline: none;
  content: "✓";
  color: #03a9f4;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  top: -4px;
  left: 4px;
}

.login-container .form-checkbox {
  display: flex;
  align-items: center;
}
.form-checkbox label {
  margin: 0 6px 0;
  font-size: 0.72em;
}

.login-container button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
}
.login-container button.signup {
  background: #03a9f4;
}
.login-container button.login {
  background: #3a5bb7;
}
button.off {
  background: none;
  box-shadow: none;
  margin: 0;
}
.login-container button.off.signup {
  color: #03a9f4;
}
.login-container button.off.login {
  color: #3a5bb7;
}

.login-container button:focus,
.login-container button:active,
.login-container button:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.login-container button:focus.signup,
.login-container button:active.signup,
.login-container button:hover.signup {
  background: #0288d1;
}
.login-container button:focus.login,
.login-container button:active.login,
.login-container button:hover.login {
  background: #3a5bb7;
}
.login-container button:focus.off,
.login-container button:active.off,
.login-container button:hover.off {
  box-shadow: none;
}
.login-container button:focus.off.signup,
.login-container button:active.off.signup,
.login-container button:hover.off.signup {
  color: #03a9f4;
  background: #212121;
}
.login-container button:focus.off.login,
.login-container button:active.off.login,
.login-container button:hover.off.login {
  color: #3a5bb7;
  background: #e3e3e3;
}

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 80%;
    margin-left: 20%;
  }

  .signup-info,
.login-info {
    display: none;
  }
}
@-webkit-keyframes dot-bounce {

    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes dot-bounce {

    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.bubble-swap {
    animation: bubble-swap 0.2s ease-in-out;
}

@keyframes bubble-swap {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

