body {
  margin: 0;
  font-family:"Cormorant Garamond";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}
:root{
  --blue:#044436;
  --accent:#85b1be;
}
html{
  overflow-x: hidden
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
